/* --------------------------------------------------------------------------------------
+
+ Queries (min-width: 768px)
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ VARIABLES
+
-------------------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------------------
+
+ MIXINS
+
-------------------------------------------------------------------------------------- */
/* LINE-HIGH */
/* BOX SIZING */
/* HIDE TEXT*/
@media (min-width: 768px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 24px;
  }

  .container {
    width: 96%;
  }

  header {
    height: 650px;
    background: url('http://placehold.it/1440x647') no-repeat 50% 0;
  }
  header .signin {
    padding-top: 90px;
  }
  header .signin span {
    display: inline-block !important;
    margin-right: 20px;
  }
  header nav {
    display: block;
    width: auto;
    top: 25px;
    left: auto;
    margin-left: 0;
    right: 2%;
    height: 41px;
    z-index: 1000;
  }
  header nav.fixed {
    position: absolute;
    background-color: #fff;
    top: 25px;
  }
  header nav span {
    display: none;
  }
  header nav ul {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    height: auto;
    padding: 1px 20px 1px;
    font-size: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
  }
  header nav ul li {
    position: relative;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    visibility: visible;
    border-top: none;
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
  }
  header nav ul li:first-child {
    padding-left: 0;
  }
  header nav ul li:last-child {
    padding-right: 0;
  }
  header nav ul li:hover:before {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
  }
  header nav ul li:before {
    content: '';
    position: absolute;
    top: -15px;
    width: 54px;
    height: 28px;
    display: block;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    visibility: hidden;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    background: url('../images/nav_bgr.png') no-repeat 0 0;
    left: 50%;
    z-index: -1;
  }
  .ie8 header nav ul li:before {
    visibility: visible;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
    z-index: 10;
    display: none;
  }
  header .register {
    text-align: left;
    padding: 25px;
    left: 0;
    margin-left: 0;
    right: 316px;
    width: auto;
    top: 200px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
  }
  header .register h1 {
    font-size: 50px;
  }
  header .register h2 {
    font-size: 34px;
  }
  header .register p {
    margin-bottom: 20px;
  }

  #get_theme .container {
    text-align: center;
  }
  #get_theme .container h1 {
    font-size: 14px;
  }
  #get_theme .container > * {
    margin: 0 15px;
    display: inline-block;
  }

  #about {
    background: url('../images/bubles.png') no-repeat 50% 50%;
  }

  .hide-on-wide {
    display: none;
  }

  #search {
    position: absolute;
    left: 0;
    top: 145px;
    width: 100%;
    background-color: transparent;
    padding: 0;
  }
  #search .container {
    position: relative;
    overflow: hidden;
  }
  #search .container > div {
    float: right;
    height: auto;
    width: 300px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    background-color: #f3f6f7;
    -webkit-box-shadow: 1px 2px 2px #a8a8a8;
    -moz-box-shadow: 1px 2px 2px #a8a8a8;
    box-shadow: 1px 2px 2px #a8a8a8;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
  }

  #member .container {
    position: relative;
  }

  .flexslider {
    width: 90%;
    margin: 0 auto;
  }
  .flexslider .flex-direction-nav a {
    position: absolute;
    top: 50%;
    margin-top: -16px;
  }
  .flexslider .flex-prev {
    left: 0;
  }
  .flexslider .flex-next {
    right: 0;
  }

  #testemonials ul {
    font-size: 0;
  }
  #testemonials li {
    font-size: 14px;
    width: 33.33%;
    padding: 150px 11px 11px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    margin-top: 0;
    overflow: hidden;
  }
  #testemonials li:nth-child(odd) * {
    -webkit-transform: translate(0, 1000px);
    -moz-transform: translate(0, 1000px);
    -ms-transform: translate(0, 1000px);
    -o-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
  }
  #testemonials li:nth-child(even) * {
    -webkit-transform: translate(0, 1000px);
    -moz-transform: translate(0, 1000px);
    -ms-transform: translate(0, 1000px);
    -o-transform: translate(0, 1000px);
    transform: translate(0, 1000px);
  }
  #testemonials li.visible:nth-child(odd) * {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #testemonials li.visible:nth-child(even) * {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  #testemonials li.visible:first-child {
    -webkit-transition: all 0.6s ease 0.5s;
    -moz-transition: all 0.6s ease 0.5s;
    -ms-transition: all 0.6s ease 0.5s;
    -o-transition: all 0.6s ease 0.5s;
    transition: all 0.6s ease 0.5s;
  }
  #testemonials li.visible:first-child * {
    -webkit-transition: all 0.6s ease 0.1s;
    -moz-transition: all 0.6s ease 0.1s;
    -ms-transition: all 0.6s ease 0.1s;
    -o-transition: all 0.6s ease 0.1s;
    transition: all 0.6s ease 0.1s;
  }
  #testemonials li.visible:nth-child(2) {
    -webkit-transition: all 0.6s ease 0.9s;
    -moz-transition: all 0.6s ease 0.9s;
    -ms-transition: all 0.6s ease 0.9s;
    -o-transition: all 0.6s ease 0.9s;
    transition: all 0.6s ease 0.9s;
  }
  #testemonials li.visible:nth-child(2) * {
    -webkit-transition: all 0.6s ease 0.5s;
    -moz-transition: all 0.6s ease 0.5s;
    -ms-transition: all 0.6s ease 0.5s;
    -o-transition: all 0.6s ease 0.5s;
    transition: all 0.6s ease 0.5s;
  }
  #testemonials li.visible:nth-child(3) {
    -webkit-transition: all 0.6s ease 1.3s;
    -moz-transition: all 0.6s ease 1.3s;
    -ms-transition: all 0.6s ease 1.3s;
    -o-transition: all 0.6s ease 1.3s;
    transition: all 0.6s ease 1.3s;
  }
  #testemonials li.visible:nth-child(3) * {
    -webkit-transition: all 0.6s ease 0.9s;
    -moz-transition: all 0.6s ease 0.9s;
    -ms-transition: all 0.6s ease 0.9s;
    -o-transition: all 0.6s ease 0.9s;
    transition: all 0.6s ease 0.9s;
  }

  #get_theme .wraper h1 {
    -webkit-transform: translate(-5000px, 0);
    -moz-transform: translate(-5000px, 0);
    -ms-transform: translate(-5000px, 0);
    -o-transform: translate(-5000px, 0);
    transform: translate(-5000px, 0);
  }
  #get_theme .wraper a {
    -webkit-transform: translate(5000px, 0);
    -moz-transform: translate(5000px, 0);
    -ms-transform: translate(5000px, 0);
    -o-transform: translate(5000px, 0);
    transform: translate(5000px, 0);
  }

  .tabs > ul {
    margin-bottom: 0;
    text-align: left;
    font-size: 0;
  }
  .tabs > ul li {
    margin-top: 0;
    display: inline-block;
    margin-right: 10px;
  }
  .tabs > ul li.active, .tabs > ul li:hover {
    position: relative;
    z-index: 100;
  }
  .tabs > ul li.active a, .tabs > ul li:hover a {
    border-color: #d8dee0;
    border-bottom: 2px solid #fff;
  }
  .tabs > ul li.active a:hover, .tabs > ul li:hover a:hover {
    border-bottom: 2px solid #fff;
  }
  .tabs > ul li.active + li a, .tabs > ul li:hover + li a {
    border-top: 2px solid #d8dee0;
  }
  .tabs > ul li:hover a:hover {
    border-bottom: 2px solid #d8dee0;
  }
  .tabs > ul li.active:hover a:hover {
    border-bottom: 2px solid #fff;
  }
  .tabs > ul li a {
    min-width: inherit;
    padding: 0 18px;
    margin: 0;
    width: auto;
    font-size: 14px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border: 2px solid #d8dee0;
  }
  .tabs > ul li a:hover {
    border-color: #d8dee0;
  }
  .tabs .tab-item {
    margin-top: -2px;
    -webkit-border-radius: 0 5px 5px 5px;
    -moz-border-radius: 0 5px 5px 5px;
    -ms-border-radius: 0 5px 5px 5px;
    -o-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
  }
  .tabs .tab-item .disc li:before {
    top: 7px;
  }

  #contact .input, #contact .textarea {
    width: 49%;
    float: left;
  }
  #contact .input input, #contact .input textarea, #contact .textarea input, #contact .textarea textarea {
    max-width: none;
    width: 100%;
  }
  #contact .textarea {
    float: right;
  }
  #contact .textarea textarea {
    min-height: 128px;
  }
  #contact .btn {
    float: right;
    padding: 0 30px;
  }

  footer {
    overflow: hidden;
  }
  footer .social {
    float: right;
  }
  footer .social li {
    margin-bottom: 0;
  }
  footer small {
    float: left;
    padding-top: 18px;
  }
}
@media (min-width: 960px) {
  .container {
    padding: 0;
    width: 960px;
  }

  header {
    background: url('http://placehold.it/1440x647') no-repeat 50% 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-behavior: url(../js/backgroundsize.htc);
  }
  header nav {
    right: 0;
  }
  header nav ul li {
    padding: 0 20px;
  }
  header .register {
    right: 300px;
  }
}
